body{
    margin:0;
    padding:0;
    background-image: url(FileBackground.gif);
    background-repeat: no-repeat;
    font-family: OldTypewriter;
}

@font-face {
    font-family: "OldTypewriter";
    src: url(OldNewspaperTypes.ttf);
}

@font-face {
    font-family: "MomTypewriter";
    src: url(MomTypewriter.ttf);
}

.page{
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:40px 0;
}

.inner{
    width:70%;
    max-width:820px;
    background:#f7f3e5;
    padding:45px 55px;
    border:1px solid rgba(0,0,0,.3);
    box-shadow:0px 4px 18px rgba(0,0,0,.25);
}


.intro{
    font-size:16px;
    opacity:.75;
    margin-bottom:30px;
}

.block{
    margin-bottom:35px;
}

.block h2{
    font-size:22px;
    margin-bottom:8px;
    color:#2f1f15;
}

input[type="text"]{
    width:70%;
    padding:8px 10px;
    font-size:16px;
    font-family:inherit;
    border:1px solid rgba(0,0,0,.4);
    background:#fdfaf0;
    outline:none;
    margin-right:10px;
}

input[type="text"]:focus{
    border-color:#5b3b26;
}

button{
    padding:7px 16px;
    font-size:15px;
    font-family:inherit;
    border:1px solid #5b3b26;
    background:rgba(203, 167, 125, 0.9);
    color:#2b1d15;
    cursor:pointer;
    transition:.25s ease;
}

button:hover{
    background:#5b3b26;
    color:#f7f3e5;
}

.feedback{
    min-height:35px;
    margin-top:10px;
    font-size:15px;
    color:#3b271b;
}

.hidden{
    display:none;
}

.fakeLink{
    text-decoration:underline;
    cursor:pointer;
}
.fakeLink:hover{
    opacity:.8;
}
