body{
    background-image:url('When\ We\ Were\ Orphans_Visual\ Board.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
}

.container{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

button{
    padding:12px 12px;
    background-color: rgba(255, 255, 255, 0.65);
    color: rgb(125, 68, 68);
    border-radius: 35px;
    font-size:18px;
    cursor:pointer;
    transition:0.5s;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

button:hover{
    background-color: rgba(111, 90, 81, 0.65);
    color: white;
}
