body {
  background: #f8f8f8;
  font-family: serif;
  overflow: hidden;
  position: relative;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 50px;
  max-width: 700px;
}
/* #journal {
  position: relative;
  height: 600px;
  width: 100%;
} */

.move {
    animation: float 20s infinite ease-in-out;
    min-width: 300px;
}

@keyframes float {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-300px, -100px) rotate(20deg); }
  50% { transform: translate(200px, -200px) rotate(20deg); }
  75% {transform: translate(-1000px, 200px) rotate(-20deg);}
  100% { transform: translate(0, 0); }
}

