body {
  display: flex;
  justify-content: center; 
  align-items: center;  
  height: 100vh;
  margin: 0;                 
}

.top-nav {
  background-color: #050644eb;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-nav .left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-nav .logo {
  width: 40px;
  height: auto;
}

.top-nav .center-links {
  display: flex;
  gap: 25px;
}

.top-nav a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 14px;
}

.top-nav a:hover {
  color: white;
  text-decoration: underline;
}

body{
    background-image: url("https://images.gc.evertonfcservices.co.uk/fit-in/4800x4800/680d9910-290d-11ef-8c1f-0ba7da788ccd.webp");
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
}

.main{
    margin: 0px;
}

.header {
    height: 140px;
    padding: 5px;
    position: relative;
    background-image: url("https://images.gc.evertonfcservices.co.uk/fit-in/1200x1200/682d5610-290d-11ef-bc91-995f283bd24c.webp");
    background-position: center;
}
.header h1{
    position: absolute;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px yellow;
    top:6%;
    left:28%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header h2{
    position: absolute;
    font-size: 30px;
    color:aliceblue;
    text-shadow: 1px 1px 2px yellow;
    top:55%;
    left:52%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainphoto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 10px 20px;
    margin-bottom: 10px;
    max-width: 1100px;
    margin:auto;
}

#text-left {
    flex: 1;
    max-width: 530px;
    margin-top:70px;
}

#text-left p {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 20px;
}

#text-left h1 {
    font-size: 15px;
    margin-top: 65px;
    margin-left:45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: darkblue;
    text-shadow: 1px 1px 2px white;
    line-height: 20px;
}
#text-left h3 {
    font-weight: bold;
}
#main {
    flex-shrink: 0;
    margin-top: 65px;
    margin-left:45px;
    width: 720px;
    height: auto;
    border: 2px solid #0d0252;
}

#text-center {
    width: 100%;
    max-width: 1300px;
    margin: 1px auto;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 20px;
}

#text-center h3{
    font-weight:bold;
}
#photo-center {
    display: block;
    margin: 40px auto;
    width: 1080px;
    height: auto;
    border: 2px solid #0d0252;
}
