.top-nav {
  background-color: #050644eb;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-nav .left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-nav .logo {
  width: 40px;
  height: auto;
}

.top-nav .center-links {
  display: flex;
  gap: 25px;
}

.top-nav a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 14px;
}

.top-nav a:hover {
  color: white;
  text-decoration: underline;
}

body{
    background-image: url("https://images.gc.evertonfcservices.co.uk/fit-in/4800x4800/680d9910-290d-11ef-8c1f-0ba7da788ccd.webp");
    /* Photo Credit: Everton FC (https://www.evertonfc.com/) */
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
}
.main{
    margin: 0px;
}

.header {
    height: 140px;
    padding: 5px;
    background-image: url("https://images.gc.evertonfcservices.co.uk/fit-in/1200x1200/682d5610-290d-11ef-bc91-995f283bd24c.webp");
    /* Photo Credit: Everton FC (https://www.evertonfc.com/) */
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header h1{
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.header h2{
    font-size:20px;
    color:aliceblue;
    text-shadow: 1px 1px 2px yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.player-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 10px 5px;
}

.player-card {
    width: 220px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
}

.player-photo {
    background-color: #0026ff;
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-photo img {
    height: 100%;
    object-fit: cover;
}

.number {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 24px;
    color: darkblue;
    font-weight: bold;
}

.player-info {
    padding: 10px 15px;
    text-align: left;
}

.first-name {
    margin: 0;
    color: gray;
    font-size: 14px;
}

.last-name {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}

.position {
    height: 100px;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 12px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}