body{
    background-color: aquamarine;
}

.box{
    width:300px;
    /* height:100px; */
    outline: 2px solid white;
    padding:10px;
    margin: 20px;
    background-color: beige;
}

#one {
    /* visibility: visible; */
    position: relative;
    top:0px;
    left:20px;
}

#one span{
    position: relative;
    top:-2px;
    left:2px;
}
/* #one:hover{
    visibility: hidden;
} */

#two{
    position: absolute;
    top:200px;
    left:500px;
}

#three{
    position:fixed;
    bottom:0px;
    right:0px;
}

#four {
    position:sticky;
    top:0px;
    left:0px;
}
#five{
    height:2000px;
}
